{% extends 'base.html.twig' %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_offre_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRechercheEntreprise" value="{{ textRechercheEntreprise|default }}">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>
    <h1>Liste des recentes Offres</h1>
    <ul >
        {% for Offre in Offres %}
            <li class="ligne_offre">
                <table class="offre">
                    <thead>
                    <tr>
                        <th>Recruteur·se</th>
                        <th>Entreprise</th>
                        <th>Jour</th>
                        <th>Place·s</th>
                        <th>Durée</th>
                        <th>Lieu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ Offre.nomOffre }}</td>
                        <td>{{ Offre.getIDEntreprise() }}</td>
                        <td>{{ Offre.getJourDeb() }}</td>
                        <td>{{ Offre.nbPlace }}</td>
                        <td>{{ Offre.duree }} jours</td>
                        <td>{{ Offre.lieux }}</td>
                    </tr>
                    <tr>
                        <td colspan="6">{{ Offre.getDescrip() }}</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
