{% extends 'base.html.twig' %}

{% block icon %}🏠{% endblock %}
{% block title %}Accueil{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_offre_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">🔎</button>
    </form>
{% endblock %}

{% block body %}
    <div class="menu_bloc">
        <h1>ACCUEIL</h1>
        <div class="menu_items">
            <h3>
                <a href="{{ path('app_offre_index') }}">Offres</a>
            </h3>
            <div class="barre"></div>
            <h3>
                <a href="{{ path('app_entreprise_index') }}">Entreprises</a>
            </h3>
            <div class="barre"></div>
            <h3>
                <a href="{{ path('app_profile') }}">Mon profil</a>
            </h3>
            <div class="barre"></div>
            <h3>
                <a href="{{ path('app_a-propos') }}">À propos de nous</a>
            </h3>
        </div>
    </div>
    <br>
    <div class="titre_home">
        <div>
            <h1>OFFRES RÉCENTES</h1>
        </div>
    </div>
    <br>
    <div class="bloc_offres">
        {% for Offre in Offres %}
            {{ include('offre/_offre.html.twig') }}
        {% endfor %}
    </div>
{% endblock %}
