{% extends 'base.html.twig' %}

{% block icon %}🏢{% endblock %}
{% block title %}Entreprises{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_entreprise_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">🔎</button>
    </form>
{% endblock %}

{% block body %}

    {# Affichage des détails d'une entreprise #}
    {% if not Entreprises is iterable %}
        <div class="entreprise_menu">
            <h1 class="carousel_titre">DÉTAILS DE L'ENTREPRISE</h1>
        </div>
        <div class="details_entreprise">
            <img src="{{ Entreprises.getLogo() }}" alt="Logo de {{ Entreprises.getNomEnt() }}"/>
            <div class="details_entreprise_1">
                <h1>{{ Entreprises.nomEnt }}</h1>
                <p>{{ nbOffres }} annonces en ligne</p>
            </div>
            <div class="details_entreprise_2">
                <h2>INFORMATIONS</h2>
                <p>{{ Entreprises.adresse }}</p>
                <p>{{ Entreprises.mail }}</p>
                <p><a href="{{ Entreprises.siteWeb }}">Site de {{ Entreprises.getNomEnt() }}</a></p>
            </div>
            <div class="details_entreprise_3">
                <form role="search" action="/entreprise/offre " method="get">
                    <input class="form-control" type="hidden" placeholder="Rechercher" aria-label="Search" name="entrepriseId" value="{{ Entreprises.id }}">
                    <button class="btn-offres-entreprise" type="submit">Voir toutes les offres</button>
                </form>
            </div>
        </div>

    {% else %}

        {# Affichage de la liste de toutes les entreprises #}
        {% if Entreprises|length > 0 %}
            <div class="entreprise_menu">
                <h1 class="carousel_titre">LISTE DES ENTREPRISES</h1>
            </div>
            <br>
            <div class="bloc_entreprises">
                {% for Entreprise in Entreprises %}
                    <div class="bloc_entreprise">
                        <div class="bord"></div>
                        <div class="infos_entreprise">
                            <a href="entreprise/{{ Entreprise.id }}">
                                <img src="{{ Entreprise.logo }}" alt="Logo de {{ Entreprise.nomEnt }}"/>
                            </a>
                            <h3>{{ Entreprise.nomEnt }}</h3>
                            <p>{{ nbOffres[Entreprise.getId()] }} annonces en ligne</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        {% else %}

            {# Affichage d'un message si aucune entreprise n'est trouvée #}
            <div class="entreprise_menu">
                <h1>Aucune entreprise trouver</h1>
            </div>

        {% endif %}
    {% endif %}
{% endblock %}