{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>🏢</text></svg>">
{% endblock %}
{% block title %}Entreprises{% endblock %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_entreprise_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">🔎</button>
    </form>
{% endblock %}

{% block body %}
    {# Affichage des détails d'une entreprise #}
    {% if not Entreprises is iterable %}
        <div class="entreprise_menu">
            <h1>DETAIL DE L'ENTREPRISE</h1>
        </div>

        <ul class="liste_entreprises">
            <li class="ligne_entreprise">
                <table class="donnees">
                    <thead>
                    <tr>
                        <th>Entreprise</th>
                        <th>Informations</th>
                        <th>Site</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="2">{{ Entreprises.nomEnt }}</td>
                        <td>{{ Entreprises.adresse }}</td>
                        <td rowspan="2" class="link">
                            <a href="{{ Entreprises.siteWeb }}" target="_blank">
                                <img class="link" src="{{ '/img/link.svg' }}" alt="Link icon">
                            </a>
                        </td>
                        <td>
                            <form class="d-flex" role="search" action="/entreprise/offre " method="get">
                                <input class="form-control me-2" type="hidden" aria-label="Search" name="entrepriseId" value="{{ Entreprises.id }}">
                                <button class="btn btn-outline-success" type="submit">Toutes les offres</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ Entreprises.mail }}</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>

    {% else %}
        {# Affichage de la liste de toutes les entreprises #}
        {% if Entreprises|length > 0  %}
            <div class="entreprise_menu">
                <h1 class="carousel_titre">LISTE DES ENTREPRISES</h1>
            </div>
            <br>
            <div class="bloc_entreprises">
                {% for Entreprise in Entreprises %}
                    <div class="bloc_entreprise">
                        <div class="bord"></div>
                        <div class="infos_entreprise">
                            <a href="entreprise/{{ Entreprise.id }}">
                                <img src="{{ Entreprise.logo }}" alt="Logo de {{ Entreprise.nomEnt }}"/>
                            </a>
                            <h3>{{ Entreprise.nomEnt }}</h3>
                            <p>{{ nbOffres[Entreprise.getId()] }} annonces en ligne</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {# Affichage d'un message si aucune entreprise n'est trouvée #}
            <div class="entreprise_menu">
                <h1>Aucune entreprise trouver</h1>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}