{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>🏢</text></svg>">
{% endblock %}
{% block title %}Entreprises{% endblock %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_entreprise_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">🔎</button>
    </form>
{% endblock %}

{% block body %}
    {# Quand on clic sur le lien pour recherche une entreprise spécifique d'une offre #}
    {% if not Entreprises is iterable %}
        <div class="entreprise_menu">
            <h1>DETAIL DE L'ENTREPRISE</h1>
        </div>

        <ul class="liste_entreprises">
            <li class="ligne_entreprise">
                <table class="donnees">
                    <thead>
                    <tr>
                        <th>Entreprise</th>
                        <th>Informations</th>
                        <th>Site</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="2">{{ Entreprises.nomEnt }}</td>
                        <td>{{ Entreprises.adresse }}</td>
                        <td rowspan="2" class="link">
                            <a href="{{ Entreprises.siteWeb }}" target="_blank">
                                <img class="link" src="{{ '/img/link.svg' }}" alt="Link icon">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">{{ Entreprises.mail }}</td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>

    {% else %}
        {# Quand on recherche ou non une entreprise #}
        {% if Entreprises|length > 0  %}
            <div class="entreprise_menu">
                <h1 class="carousel_titre">LISTE DES ENTREPRISES</h1>
            </div>
            <ul class="liste_entreprises">
                {% for Entreprise in Entreprises %}
                    <li class="ligne_entreprise">
                        <table class="donnees">
                            <thead>
                            <tr>
                                <th>Entreprise</th>
                                <th>Informations</th>
                                <th>Site</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td rowspan="2">{{ Entreprise.nomEnt }}</td>
                                <td>{{ Entreprise.adresse }}</td>
                                <td rowspan="2" class="link">
                                    <a href="{{ Entreprise.siteWeb }}" target="_blank">
                                        <img class="link" src="{{ '/img/link.svg' }}" alt="Link icon">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">{{ Entreprise.mail }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <br>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            {# Quand aucun entreprise n'à été trouver #}
            <div class="entreprise_menu">
                <h1>Aucune entreprise trouver</h1>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}