{% extends 'base.html.twig' %}

{% block icon %}👤{% endblock %}
{% block title %}Profil{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc">
        <h1>MON PROFIL</h1>
    </div>
    <div class="bloc_profil">
        <br>
        <div class="bloc_profil_1">
            <div class="ligne_profil">
                <p>Adresse mail :&ensp;</p>
                <p>{{ app.user.email }}</p>
            </div>
            <div class="ligne_profil">
                <p>Nom :&ensp;</p>
                <p>{{ app.user.firstName }}</p>
            </div>
            <div class="ligne_profil">
                <p>Prénom :&ensp;</p>
                <p>{{ app.user.lastName }}</p>
            </div>
            <div class="ligne_profil">
                <p>Numéro de téléphone :&ensp;</p>
                <p>{{ app.user.phone }}</p>
            </div>
            <div class="ligne_profil">
                <p>Date de Naissance :&ensp;</p>
                <p>{{ app.user.getDateNaisString }}</p>
            </div>
            <div class="ligne_profil">
                <p>CV enregistré :&ensp;</p>
                {% if app.user.cv %}
                    <p>
                        <a href="{{ asset('uploads/pdf/' ~ app.user.cv) }}">CV (PDF)</a>
                    </p>
                {% else %}
                    <p>Aucun</p>
                {% endif %}
            </div>
            <div class="ligne_profil">
                <p>Lettre de motivation enregistrée :&ensp;</p>
                {% if app.user.lettreMotiv %}
                    <p>
                        <a href="{{ asset('uploads/pdf/' ~ app.user.lettreMotiv) }}">Lettre de motivation (PDF)</a>
                    </p>
                {% else %}
                    <p>Aucune</p>
                {% endif %}
            </div>
            <a href="{{ path('app_profile_modif') }}">
                <button type="button">Modifier mon profil</button>
            </a>
            <a href="{{ path('app_profile_delete') }}">
                <button type="button">Supprimer le compte</button>
            </a>
        </div>
    </div>
{% endblock %}
