{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>👤</text></svg>">
{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil :</h1>

    <p>Nom : {{ app.user.firstName }}</p>
    <p>Prenom : {{ app.user.lastName }}</p>
    <p>Téléphone : {{ app.user.phone }}</p>
    <p>Adresse mail : {{ app.user.email }}</p>
    <p>Date de Naissance : {{ app.user.dateNais }}</p>
    {% if app.user.cv %}
        <p>CV enregistré : <a href="{{ asset('uploads/pdf/' ~ app.user.cv) }}">CV (PDF)</a></p>
    {% else %}
        <p>CV enregistré : Aucun</p>
    {% endif %}
    {% if app.user.lettreMotiv %}
        <p>Lettre de motivation enregistrée : <a href="{{ asset('uploads/pdf/' ~ app.user.lettreMotiv) }}">Lettre de motivation (PDF)</a></p>
    {% else %}
        <p>Lettre de motivation enregistrée : Aucune</p>
    {% endif %}

    <button type="button" href="/profil/modif">Modifier mon profil</button>

{% endblock %}
