{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>👤</text></svg>">
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}

    <form class="login_bloc" method="post">

        <div class="login_form">
            <h1 class="h3 mb-3 font-weight-normal">CREATION DU COMPTE</h1>

            {{ form_start(form) }}
            <label for="firstName">Nom :</label>
            <div>{{ form_widget(form.firstName,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="lastName">Prenom :</label>
            <div>{{ form_widget(form.lastName,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="phone">Numéro de Téléphone :</label>
            <div>{{ form_widget(form.phone,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="dateNais">Date de Naissance :</label>
            <div>{{ form_widget(form.dateNais,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="email">Adresse Email :</label>
            <div>{{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="cv">CV (PDF) :</label>
            <div>{{ form_widget(form.cv,{'attr': {'class': 'form-control'}}) }}</div>

            <label for="lettreMotiv">Lettre de Motivation (PDF) :</label>
            <div>{{ form_widget(form.lettreMotiv,{'attr': {'class': 'form-control'}}) }}</div>
            {{ form_end(form) }}
        </div>
    </form>

{% endblock %}