{% extends 'base.html.twig' %}

{% block icon %}👥{% endblock %}
{% block title %}A Propos de Nous{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc taille1">
        <h1>À PROPOS D'EDUTECH</h1>
    </div>
    <br>
    <div class="infos_a_propos">
        <div class="infos_a_propos_1">
            <h3>Qui Sommes Nous ?</h3>
            <p>Bienvenue chez EduTech, votre partenaire dévoué dans la recherche de stages et d'alternances. Fondée par un groupe passionné de quatre membres, notre équipe partage une vision commune : faciliter le chemin des étudiants vers des opportunités professionnelles enrichissantes.</p>
            <p>À EduTech, nous comprenons les défis auxquels sont confrontés les étudiants lorsqu'ils cherchent à démarrer leur carrière. C'est pourquoi nous avons uni nos forces pour créer une plateforme dynamique et inclusive, dédiée à guider chaque étudiant vers le succès professionnel.</p>
            <p>Notre mission est claire : connecter les étudiants talentueux avec des stages et des opportunités d'alternance adaptés à leurs compétences et aspirations. Grâce à une approche personnalisée, nous nous efforçons de comprendre les besoins uniques de chaque étudiant, facilitant ainsi une transition fluide de l'éducation à la carrière.</p>
            <p>Ce qui nous distingue chez EduTech, c'est notre engagement envers l'excellence, l'innovation et l'inclusion. Nous croyons en la puissance de l'éducation et de l'expérience pratique pour façonner des carrières exceptionnelles. En travaillant main dans la main avec les étudiants et les entreprises, nous construisons des ponts vers des opportunités prometteuses.</p>
            <p>Rejoignez-nous dans cette aventure passionnante où l'éducation rencontre l'industrie. Chez EduTech, nous sommes plus qu'une équipe, nous sommes une communauté déterminée à ouvrir les portes du succès professionnel pour chaque étudiant. Ensemble, faisons de chaque opportunité une réalité.</p>
            <p>Découvrez le monde d'EduTech, où votre avenir prend vie.</p>
        </div>
        <br>
        <div class="infos_a_propos_2">
            <h3>L'Équipe</h3>
            <div class="infos_a_propos_2_1">
                <div class="membre">
                    <img src="{{ asset('img/valentin.png') }}" alt="Photo de Valentin CLADEL"/>
                    <h4>Valentin CLADEL</h4>
                    <p>Développeur Back-End</p>
                    <q>ÇA MARCHE PAS</q>
                </div>
                <div class="membre">
                    <img src="{{ asset('img/baptiste.png') }}" alt="Photo de Baptiste SIMON"/>
                    <h4>Baptiste SIMON</h4>
                    <p>Développeur Back-End</p>
                    <q>Go en mettre 2000</q>
                </div>
                <div class="membre">
                    <img src="{{ asset('img/tom.png') }}" alt="Photo de Tom SIKORA"/>
                    <h4>Tom SIKORA</h4>
                    <p>Développeur Front-End</p>
                    <q>Ça me plaît pas, je recommence</q>
                </div>
                <div class="membre">
                    <img src="{{ asset('img/camille.png') }}" alt="Photo de Camille BOURGA"/>
                    <h4>Camille BOURGA</h4>
                    <p>Rien</p>
                    <q>Je vais bientôt commencer</q>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
