{% extends 'base.html.twig' %}

{% block icon %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.0em%22 font-size=%2296%22>📋</text></svg>">
{% endblock %}
{% block title %}Inscriptions{% endblock %}

{% block body %}
    <h1>Vos inscriptions</h1>
    <div class="bloc_offres">
        {% for inscription in inscriptions %}
            <div class="bloc_offre">
                <div class="bloc_offre_img">
                    <div class="bloc_1"></div>
                    <div class="bloc_2">
                        <a href="entreprise/{{ inscription.Offre.getEntreprise().getId() }}">
                            <img src="{{ inscription.Offre.getEntreprise().getLogo() }}" alt="Logo de {{ inscription.Offre.getEntreprise().getNomEnt() }}"/>
                        </a>
                    </div>
                </div>
                <div class="bloc_offre_txt">
                    <div class="infos1">
                        <div class="infos1_1 fs-5">
                            {{ inscription.Offre.nomOffre }}
                        </div>
                        <div class="infos1_2">
                            <div class="infos1_2_1">
                                {{ inscription.Offre.getJourDebString() }}
                            </div>
                            <div class="infos1_2_2">
                                {{ inscription.Offre.type.libelle }}
                            </div>
                        </div>
                    </div>
                    <div class="infos2">
                        <div class="infos2_1">
                            {{ inscription.Offre.nbPlace }} place(s)
                        </div>
                        <div class="infos2_2">
                            {{ inscription.Offre.lieux }}
                        </div>
                    </div>
                    <p class="description">{{ inscription.Offre.getDescrip() }}</p>
                    <p class="duree"><span>Durée :</span> {{ inscription.Offre.duree }} jour(s)</p>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
