{% extends 'base.html.twig' %}

{% block icon %}📝{% endblock %}
{% block title %}Inscriptions{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc taille2">
        <h1>MES INSCRIPTIONS</h1>
        <div class="bloc_legende">
            <div>
                <div class="bloc_legende_1"></div>
                <p>Candidature acceptée</p>
            </div>
            <div>
                <div class="bloc_legende_2"></div>
                <p>Candidature en attente</p>
            </div>
            <div>
                <div class="bloc_legende_3"></div>
                <p>Candidature refusée</p>
            </div>
        </div>
    </div>
    <div class="bloc_offres">

        {# Affichage si l'utilisateur est inscrit à aucunes offres #}
        {% if inscriptions is empty %}
        <div class="bloc_offres_vide">
            <h1>Aucunes offres disponibles</h1>
        </div>

        {# Affichage si l'utilisateur est inscrit à au moins une offre #}
        {% else %}
            {% for inscription in inscriptions %}
                <div class="bloc_offre">
                    <div class="bloc_offre_img">
                        {% if (inscription.Status == 1) %}
                            <div class="bloc_1_inscrire" style="background-color: #5EB85E"></div>
                        {% elseif  (inscription.Status == 2)%}
                            <div class="bloc_1_inscrire" style="background-color: #87CEEB"></div>
                        {% else %}
                            <div class="bloc_1_inscrire" style="background-color: #FF9AA2"></div>
                        {% endif %}
                        <div class="bloc_2">
                            <a href="entreprise/{{ inscription.Offre.getEntreprise().getId() }}">
                                <img src="{{ inscription.Offre.getEntreprise().getLogo() }}" alt="Logo de {{ inscription.Offre.getEntreprise().getNomEnt() }}"/>
                            </a>
                        </div>
                    </div>
                    <div class="bloc_offre_txt">
                        <div class="infos1">
                            <div class="infos1_1">
                                <a href="/offre/{{ inscription.Offre.id }}">{{ inscription.Offre.nomOffre }}</a>
                            </div>
                            <div class="infos1_2">
                                <div class="infos1_2_1">
                                    {{ inscription.Offre.getJourDebString() }}
                                </div>
                                <div class="infos1_2_2">
                                    {{ inscription.Offre.type.libelle }}
                                </div>
                            </div>
                        </div>
                        <div class="infos2">
                            <div class="infos2_1">
                                {{ inscription.Offre.nbPlace }} place(s)
                            </div>
                            <div class="infos2_2">
                                {{ inscription.Offre.lieux }}
                            </div>
                        </div>
                        <p class="description">{{ inscription.Offre.getDescrip() }}</p>
                        <div class="infos3">
                            <p class="duree"><span>Durée :</span> {{ inscription.Offre.duree }} jour(s)</p>
                            <p class="niveau"><span>Niveau requis :</span> {{ inscription.offre.level }}</p>
                            <form class="inscrip-button" action="{{ path('app_inscire_desinscription', {'idOffre': inscription.Offre.id}) }}" method="get">
                                <button class="btn btn-danger" type="submit">Se Désincrire</button>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}
