<div class="bloc_offre">
    <div class="bloc_offre_img">
        <div class="bloc_1"></div>
        <div class="bloc_2">
            <a href="/entreprise/{{ Offre.getEntreprise().getId() }}">
                <img src="{{ Offre.getEntreprise().getLogo() }}" alt="Logo de {{ Offre.getEntreprise().getNomEnt() }}"/>
            </a>
        </div>
    </div>
    <div class="bloc_offre_txt">
        <div class="infos1">
            <div class="infos1_1 fs-5">
                <a href="/offre/{{ Offre.id }}">{{ Offre.nomOffre }}</a>
            </div>
            <div class="infos1_2">
                <div class="infos1_2_1">
                    {{ Offre.getJourDebString() }}
                </div>
                <div class="infos1_2_2">
                    {{ Offre.type.libelle }}
                </div>
            </div>
        </div>
        <div class="infos2">
            <div class="infos2_1">
                {{ Offre.nbPlace }} place(s)
            </div>
            <div class="infos2_2">
                {{ Offre.lieux }}
            </div>
        </div>
        <p class="description">{{ Offre.getDescrip() }}</p>
        <div class="infos3">
            <p class="duree"><span>Durée :</span> {{ Offre.duree }} jour(s)</p>
            <p class="niveau"><span>Niveau requis :</span> {{ Offre.level }}</p>
            {% if (inscription[Offre.id] == null) %}
                <p>est pas inscrit</p>
            {% endif %}
        </div>
    </div>
</div>