{% extends 'base.html.twig' %}

{% block icon %}📋{% endblock %}
{% block title %}Offres{% endblock %}
{% block background %}{{ asset('img/background.png') }}{% endblock %}

{% block body %}
    <div class="titre_bloc taille2">
        <h1>LISTE DES OFFRES</h1>
        <form class="form_offre" role="search" action="{{ path('app_offre_index') }}" method="get">
            <div class="radio_group">
                {% for type in types %}
                    {% set uniqueId = 'typeOffre' ~ type.id %}
                    <div>
                        <input id="{{ uniqueId }}" type="radio" name="type" value="{{ type.id }}">
                        <label for="{{ uniqueId }}">{{ type.libelle }}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="niveau_bac">
                <label for="niveau">Bac +</label>
                <input class="btn-outline-success" type="number" id="niveau" name="niveau" min="-1" max="5" placeholder="bac" value="-1">
            </div>
            <div class="radio_date">
                <label for="date">Date de début</label>
                <input type="date" id="date" name="date" placeholder="Date">
            </div>
            <div class="date_filtre">
                <div>
                    <input id="dateFiltre1" type="radio" name="dateFiltre" value="1">
                    <label for="dateFiltre1">Avant</label>
                </div>
                <div>
                    <input id="dateFiltre2" type="radio" name="dateFiltre" value="2">
                    <label for="dateFiltre2">Apres</label>
                </div>
            </div>
            <div class="lieu">
                <input class="form-control me-2" type="search" placeholder="Lieu" aria-label="Search" name="lieuRechercher" value="{{ lieuRechercher|default }}">
            </div>
            <div class="search">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
                <button class="btn btn-outline-success" type="submit">🔎</button>
            </div>
            <button class="btn btn-outline-success style" onclick="window.location.href='/offre'" type="button">Effacer</button>
        </form>
    </div>
    <div class="bloc_offres">
        {% for Offre in Offres %}
            {{ include('offre/_offre.html.twig') }}
        {% endfor %}
    </div>
    <div class="pagination custom-pagination">
        {{ knp_pagination_render(Offres) }}
    </div>
{% endblock %}
