{% extends 'base.html.twig' %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_offre_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
{% endblock %}

{% block title %}Hello OffreController!{% endblock %}

{% block body %}
    <h1>Liste des Offres</h1>
    <ul >
        {% for Offre in Offres %}
            <li>
                <table>
                    <thead>
                        <tr>
                           <th colspan="2"> {{ Offre.nomOffre }}</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>{{ Offre.getJourDeb() }}</td>
                        <td>{{ Offre.duree }} jours</td>
                    </tr>
                    <tr>
                        <td>{{ Offre.lieux }}</td>
                        <td>{{ Offre.nbPlace }} place</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ Offre.getIDEntreprise() }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ Offre.getDescrip() }}</td>
                    </tr>
                </table>
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
