{% extends 'base.html.twig' %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_offre_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
{% endblock %}

{% block title %}Hello OffreController!{% endblock %}

{% block body %}
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active carousel1">
                <h1 class="carousel_titre">DÉCOUVREZ DES OFFRES ATTRAYANTES</h1>
            </div>
            <div class="carousel-item carousel2">
                <h1 class="carousel_titre">EXPLOREZ DES OPPORTUNITÉS PROFESSIONNELLES</h1>
            </div>
            <div class="carousel-item carousel3">
                <h1 class="carousel_titre">INTERAGISSEZ AVEC DES EXPERTS</h1>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <ul class="liste_offres">
        {% for Offre in Offres %}
            <li class="ligne_offre">
                <table class="offre">
                    <thead>
                        <tr>
                            <th>Recruteur·se</th>
                            <th>Entreprise</th>
                            <th>Jour</th>
                            <th>Place·s</th>
                            <th>Durée</th>
                            <th>Lieu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ Offre.nomOffre }}</td>
                            <td><a  href="entreprise/{{ Offre.getEntreprise().getId() }}">{{ Offre.getEntreprise().getNomEnt() }}</a></td>
                            <td>{{ Offre.getJourDeb() }}</td>
                            <td>{{ Offre.nbPlace }}</td>
                            <td>{{ Offre.duree }} jours</td>
                            <td>{{ Offre.lieux }}</td>
                        </tr>
                        <tr>
                            <td colspan="6">{{ Offre.getDescrip() }}</td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}
