{% extends 'base.html.twig' %}

{% block icon %}📋{% endblock %}
{% block title %}Offres{% endblock %}
{% block background %}{{ asset('img/background-info.png') }}{% endblock %}

{% block form %}
    <form class="d-flex" role="search" action="{{ path('app_offre_index') }}" method="get">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="textRecherche" value="{{ textRecherche|default }}">
        <button class="btn btn-outline-success" type="submit">🔎</button>
    </form>
{% endblock %}

{% block body %}
    {% set placesRestantes = nbInscriptionAccepter[Offre.id] is defined ? (Offre.nbPlace - nbInscriptionAccepter[Offre.id]) : Offre.nbPlace %}

    <div class="bloc_offre_infos">
        <div class="bloc_offre_infos_1">
            <h2>{{ Offre.nomOffre }}</h2>
            <a href="/entreprise/{{ Offre.getEntreprise().getId() }}">
                <img src="{{ Offre.getEntreprise().getLogo() }}" alt="Logo de {{ Offre.getEntreprise().getNomEnt() }}"/>
            </a>
        </div>
        <div class="bloc_offre_infos_2">
            <p>Début du {{ Offre.Type.libelle }} le {{ Offre.getJourDebString() }} à l'adresse : {{ Offre.lieux }}.</p>
            <h4>Description</h4>
            <p>{{ Offre.getDescrip() }}</p>
        </div>
        <div class="bloc_offre_infos_3">
            <div>
                <h4>Niveau</h4>
                <p>{{ Offre.level }}</p>
            </div>
            <div>
                <h4>Durée</h4>
                <p>{{ Offre.duree }} jours</p>
            </div>
            <div>
                <h4>Places restantes</h4>
                <p>{{ placesRestantes }} places</p>
            </div>
            <div>
                {% if placesRestantes > 1 %}
                    {% if inscription[Offre.id] is defined %}
                        {% if inscription[Offre.id] is not null%}
                            <form class="inscrip-button" action="{{ path('app_inscire_desinscription', {'idOffre': Offre.id}) }}" method="get">
                                <button class="btn btn-danger show_button" type="submit">Se Désinscrire</button>
                            </form>
                        {% else %}
                            <form class="inscrip-button" action="{{ path('app_inscire_inscription', {'idOffre': Offre.id}) }}" method="get">
                                <button class="btn btn-success show_button" type="submit">S'inscrire</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <form class="inscrip-button" action="{{ path('app_inscire_inscription', {'idOffre': Offre.id}) }}" method="get">
                            <button class="btn btn-success show_button" type="submit">S'inscrire</button>
                        </form>
                    {% endif %}
                {% elseif inscription[Offre.id] is defined and inscription[Offre.id] is not null%}
                    <form class="inscrip-button" action="{{ path('app_inscire_desinscription', {'idOffre': Offre.id}) }}" method="get">
                        <button class="btn btn-danger show_button" type="submit">Se Désinscrire</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="bloc_offre_infos_4">
            <h4>Compétences</h4>
            {% if skills|length > 0 %}
                {% for skill in skills %}
                    <p>{{ skill }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
